In [27]:
import numpy as np 
import matplotlib as plt
import pandas as pd
import seaborn as sns
import scipy

In [49]:
penguins_df = pd.read_csv("noisy_datasets/penguins.csv")
diamonds_df = pd.read_csv("noisy_datasets/diamond.csv")
epicurious_df = pd.read_csv("noisy_datasets/epicurious.csv")

print("Penguin Data \n", penguins_df.describe())
print("\nDiamond Data \n", diamonds_df.describe())
print("\nEpicurious Dataset\n", epicurious_df.describe())

Penguin Data
        calorie requirement  average sleep duration  bill_length_mm  \
count           344.000000              344.000000      337.000000
mean           5270.002907               10.447674       45.494214
std            1067.959116                2.265895       10.815787
min            3504.000000                7.000000       32.100000
25%            4403.000000                9.000000       39.500000
50%            5106.500000               10.000000       45.100000
75%            6212.750000               12.000000       49.000000
max            7197.000000               14.000000      124.300000

       bill_depth_mm  flipper_length_mm  body_mass_g         year
count     333.000000         336.000000   339.000000   342.000000
mean       18.018318         197.764881  4175.463127  2008.035088
std         9.241384          27.764491   858.713267     0.816938
min        13.100000          10.000000   882.000000  2007.000000
25%        15.700000         190.000000  3550.000000  2007.000000
50%        17.300000         197.000000  4050.000000  2008.000000
75%        18.700000         213.000000  4750.000000  2009.000000
max       127.260000         231.000000  6300.000000  2009.000000

Diamond Data
        average us salary  number of diamonds mined (millions)
count       53940.000000                         53940.000000
mean        39521.990100                             2.902669
std          5486.892971                             1.325985
min         30000.000000                             0.600000
25%         34780.000000                             1.750000
50%         39547.500000                             2.910000
75%         44252.000000                             4.050000
max         48999.000000                             5.200000

Epicurious Dataset
        total ingredient cost (usd)  restaurant price (usd)
count                 20052.000000            20052.000000
mean                     20.037888               46.807451
std                       8.689649               18.814625
min                       5.000000               15.000000
25%                      12.480000               31.000000
50%                      20.015000               47.000000
75%                      27.600000               63.000000
max                      35.000000               79.000000

In [51]:
penguins_df = penguins_df.dropna(subset=['species', 'island', 'gender'])
penguins_df = penguins_df.fillna(penguins_df.select_dtypes(include='number').mean())
penguins_df[['species', 'island', 'gender']] = penguins_df[['species', 'island', 'gender']].applymap(str.lower)
z = np.abs(scipy.stats.zscore(penguins_df['calorie requirement']))
z = np.abs(scipy.stats.zscore(penguins_df['average sleep duration']))
threshold = 1.6
outliers_cr = penguins_df['calorie requirement'][z > threshold]
outliers_asd = penguins_df['average sleep duration'][z > threshold]
outliers_bl = penguins_df['bill_length_mm'][z > threshold]
outliers_bd = penguins_df['bill_depth_mm'][z > threshold]
outliers_fl = penguins_df['flipper_length_mm'][z > threshold]
outliers_bm = penguins_df['body_mass_g'][z > threshold]
print(outliers_cr.count())
print(outliers_asd.count())

0
0