In [47]:
import numpy as np 
import matplotlib as plt
import pandas as pd
import seaborn as sns

In [48]:
penguins_df = pd.read_csv("noisy_datasets/penguins.csv")
diamonds_df = pd.read_csv("noisy_datasets/diamond.csv")
epicurious_df = pd.read_csv("noisy_datasets/epicurious.csv")

penguins_df.head()

,species,island,calorie requirement,average sleep duration,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,gender,year
0,Adelie,Torgersen,6563,11,39.1,18.7,181.0,3750.0,male,2007.0
1,Adelie,Torgersen,4890,14,39.5,17.4,186.0,3800.0,female,2007.0
2,Adelie,Torgersen,7184,11,40.3,18.0,195.0,3250.0,female,2007.0
3,Adelie,Torgersen,4169,8,NaN,NaN,NaN,992.0,NaN,2007.0
4,Adelie,Torgersen,4774,8,36.7,19.3,193.0,3450.0,female,2007.0

In [49]:
print("Shape of diamonds dataset before dropping na values: ",diamonds_df.shape)
diamonds_df = diamonds_df.dropna()
print("Shape of diamonds dataset after dropping na values: ",diamonds_df.shape)

Shape of diamonds dataset before dropping na values:  (53940, 13)
Shape of diamonds dataset after dropping na values:  (49075, 13)

In [50]:
# Converting the string values in numerical columns to NA and dropping the rows
num_cols = ['Unnamed: 0', 'carat', 'average us salary', 'number of diamonds mined (millions)', 'depth',	'table', 'price', 'x', 'y', 'z']
for cols in num_cols:
    diamonds_df[cols] = pd.to_numeric(diamonds_df[cols], errors = 'coerce')
diamonds_df = diamonds_df.dropna()
print("Shape of diamonds dataset after dropping na values: ",diamonds_df.shape)

Shape of diamonds dataset after dropping na values:  (48822, 13)

In [51]:
print(diamonds_df.isnull().sum())
# No missing values in the dataset is found
string_cols = []
for cols in diamonds_df.columns:
    if diamonds_df[cols].dtype == 'object':
        string_cols.append(cols)
# Converting values of all columns with object datatype to lowercase
diamonds_df[string_cols] = diamonds_df[string_cols].apply(lambda x: x.str.lower())
diamonds_df

Unnamed: 0                             0
carat                                  0
cut                                    0
color                                  0
clarity                                0
average us salary                      0
number of diamonds mined (millions)    0
depth                                  0
table                                  0
price                                  0
x                                      0
y                                      0
z                                      0
dtype: int64

,Unnamed: 0,carat,cut,color,clarity,average us salary,number of diamonds mined (millions),depth,table,price,x,y,z
0,1.0,0.23,ideal,e,si2,31282,5.01,61.5,55.0,326.0,3.95,3.98,2.43
1,2.0,0.21,premium,e,si1,40049,1.69,59.8,61.0,326.0,3.89,3.84,2.31
2,3.0,0.23,good,e,vs1,33517,3.85,56.9,65.0,327.0,4.05,4.07,2.31
3,4.0,0.29,premium,i,vs2,38495,3.49,62.4,58.0,334.0,4.20,4.23,2.63
4,5.0,0.31,good,j,si2,34178,4.70,63.3,58.0,335.0,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936.0,0.72,ideal,d,si1,43892,3.54,60.8,57.0,2757.0,5.75,5.76,3.50
53936,53937.0,0.72,good,d,si1,35532,3.51,63.1,55.0,2757.0,5.69,5.75,3.61
53937,53938.0,0.70,very good,d,si1,32133,3.27,62.8,60.0,2757.0,5.66,5.68,3.56
53938,53939.0,0.86,premium,h,si2,44248,4.03,61.0,58.0,2757.0,6.15,6.12,3.74
53939,53940.0,0.75,ideal,d,si2,41412,3.11,62.2,55.0,2757.0,5.83,5.87,3.64

In [52]:
# detecting outliers and replacing them with the median of the column
diamond_df_cols = ['carat', 'average us salary', 'number of diamonds mined (millions)', 'depth', 'table', 
       'price', 'x', 'y', 'z']

for cols in diamond_df_cols:
    if diamonds_df[cols].dtype != 'object':
        q1 = diamonds_df[cols].quantile(0.25)
        q3 = diamonds_df[cols].quantile(0.75)
        iqr = q3 - q1
        lb = q1 - 1.5*iqr
        ub = q3 + 1.5*iqr
        outliers = diamonds_df[(diamonds_df[cols] < lb) | (diamonds_df[cols] > ub)]
        print(f"Outliers of Column {cols}: ", outliers)
        if not outliers.empty:
            median1 = diamonds_df[cols].median()
            diamonds_df[cols] = diamonds_df[cols].apply(lambda x: median1 if (x < lb or x > ub) else x)
print('Diamonds datset after replacing outliers with median values: ', diamonds_df.head(10))

Outliers of Column carat:         Unnamed: 0  carat      cut color clarity  average us salary  \
12246     12247.0   2.06  premium     j      i1              40497
13002     13003.0   2.14     fair     j      i1              31965
13118     13119.0   2.15     fair     j      i1              42063
13757     13758.0   2.22     fair     j      i1              46284
13991     13992.0   2.01     fair     i      i1              46942
...           ...    ...      ...   ...     ...                ...
27741     27742.0   2.15    ideal     g     si2              31876
27742     27743.0   2.04  premium     h     si1              32337
27744     27745.0   2.29  premium     i     si1              44106
27746     27747.0   2.07    ideal     g     si2              38530
27749     27750.0   2.29  premium     i     vs2              39679

       number of diamonds mined (millions)  depth  table    price     x     y  \
12246                                 0.90   61.2   58.0   5203.0  8.10  8.07
13002                                 2.97   69.4   57.0   5405.0  7.74  7.70
13118                                 1.46   65.5   57.0   5430.0  8.01  7.95
13757                                 2.53   66.7   56.0   5607.0  8.04  8.02
13991                                 3.26   67.4   58.0   5696.0  7.71  7.64
...                                    ...    ...    ...      ...   ...   ...
27741                                 0.82   62.6   54.0  18791.0  8.29  8.35
27742                                 4.02   58.1   60.0  18795.0  8.37  8.28
27744                                 0.80   61.8   59.0  18797.0  8.52  8.45
27746                                 4.08   62.5   55.0  18804.0  8.20  8.13
27749                                 1.03   60.8   60.0  18823.0  8.50  8.47

          z
12246  4.95
13002  5.36
13118  5.23
13757  5.36
13991  5.17
...     ...
27741  5.21
27742  4.84
27744  5.24
27746  5.11
27749  5.16

[1692 rows x 13 columns]
Outliers of Column average us salary:  Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, average us salary, number of diamonds mined (millions), depth, table, price, x, y, z]
Index: []
Outliers of Column number of diamonds mined (millions):  Empty DataFrame
Columns: [Unnamed: 0, carat, cut, color, clarity, average us salary, number of diamonds mined (millions), depth, table, price, x, y, z]
Index: []
Outliers of Column depth:         Unnamed: 0  carat        cut color clarity  average us salary  \
2             3.0   0.23       good     e     vs1              33517
8             9.0   0.22       fair     e     vs2              30454
24           25.0   0.31  very good     j     si1              39073
35           36.0   0.23       good     f     vs1              45958
42           43.0   0.26       good     d     vs2              37441
...           ...    ...        ...   ...     ...                ...
53879     53880.0   1.04       fair     g     si2              44018
53882     53883.0   0.71       fair     d     vs1              31579
53886     53887.0   0.70       good     d     vs2              40937
53895     53896.0   0.70       good     f     vs1              43085
53927     53928.0   0.79       good     f     si1              46792

       number of diamonds mined (millions)  depth  table   price     x     y  \
2                                     3.85   56.9   65.0   327.0  4.05  4.07
8                                     4.02   65.1   61.0   337.0  3.87  3.78
24                                    4.10   58.1   62.0   353.0  4.44  4.47
35                                    5.15   58.2   59.0   402.0  4.06  4.08
42                                    3.96   65.2   56.0   403.0  3.99  4.02
...                                    ...    ...    ...     ...   ...   ...
53879                                 3.38   65.2   57.0  2745.0  6.25  6.23
53882                                 4.28   65.4   59.0  2747.0  5.62  5.58
53886                                 1.53   58.0   62.0  2749.0  5.78  5.87
53895                                 3.56   57.8   61.0  2751.0  5.83  5.79
53927                                 1.75   58.1   59.0  2756.0  6.06  6.13

          z
2      2.31
8      2.49
24     2.59
35     2.37
42     2.61
...     ...
53879  4.07
53882  3.66
53886  3.38
53895  3.36
53927  3.54

[2299 rows x 13 columns]
Outliers of Column table:         Unnamed: 0  carat        cut color clarity  average us salary  \
2             3.0   0.23       good     e     vs1              33517
91           92.0   0.86       fair     e     si2              35889
145         146.0   0.70       good     h    vvs2              40755
219         220.0   0.53  very good     d    vvs2              30552
239         240.0   0.77       good     g     vs1              44656
...           ...    ...        ...   ...     ...                ...
53695     53696.0   0.75       good     e     vs2              48733
53697     53698.0   0.70       fair     h    vvs2              44938
53756     53757.0   0.84       fair     g     vs1              41221
53757     53758.0   0.72       fair     f     vs2              32735
53785     53786.0   0.89       good     e     si2              34077

       number of diamonds mined (millions)  depth  table   price     x     y  \
2                                     3.85   61.8   65.0   327.0  4.05  4.07
91                                    4.08   61.8   69.0  2757.0  6.45  6.33
145                                   1.55   62.1   64.0  2767.0  5.62  5.65
219                                   4.45   61.8   64.0  2782.0  5.34  5.37
239                                   2.84   59.4   64.0  2788.0  5.97  5.92
...                                    ...    ...    ...     ...   ...   ...
53695                                 3.87   59.7   65.0  2717.0  5.85  5.80
53697                                 0.85   64.5   65.0  2717.0  5.52  5.45
53756                                 1.69   61.8   64.0  2724.0  6.42  6.32
53757                                 3.95   61.8   64.0  2724.0  6.06  5.97
53785                                 0.90   64.3   65.0  2728.0  6.00  5.95

          z
2      2.31
91     3.52
145    3.50
219    3.08
239    3.53
...     ...
53695  3.48
53697  3.54
53756  3.54
53757  3.34
53785  3.84

[545 rows x 13 columns]
Outliers of Column price:         Unnamed: 0  carat        cut color clarity  average us salary  \
23817     23818.0   1.22      ideal     f    vvs2              39789
23818     23819.0   1.20      ideal     e    vvs2              36211
23819     23820.0   1.83    premium     i     si1              47154
23820     23821.0   1.17      ideal     f    vvs1              30235
23821     23822.0   0.70      ideal     i     si2              35779
...           ...    ...        ...   ...     ...                ...
27745     27746.0   2.00  very good     h     si1              40583
27746     27747.0   0.70      ideal     g     si2              38530
27747     27748.0   1.51      ideal     g      if              37370
27748     27749.0   2.00  very good     g     si1              41558
27749     27750.0   0.70    premium     i     vs2              39679

       number of diamonds mined (millions)  depth  table    price     x     y  \
23817                                 4.89   62.7   54.0  11880.0  6.79  6.84
23818                                 0.72   61.5   57.0  11883.0  6.79  6.89
23819                                 3.74   62.9   55.0  11883.0  7.90  7.78
23820                                 4.07   62.1   57.0  11886.0  6.82  6.73
23821                                 4.02   62.0   56.0  11886.0  8.21  8.10
...                                    ...    ...    ...      ...   ...   ...
27745                                 0.72   62.8   57.0  18803.0  7.95  8.00
27746                                 4.08   62.5   55.0  18804.0  8.20  8.13
27747                                 3.15   61.7   55.0  18806.0  7.37  7.41
27748                                 3.38   63.5   56.0  18818.0  7.90  7.97
27749                                 1.03   60.8   60.0  18823.0  8.50  8.47

          z
23817  4.27
23818  4.21
23819  4.93
23820  4.21
23821  5.06
...     ...
27745  5.01
27746  5.11
27747  4.56
27748  5.04
27749  5.16

[3208 rows x 13 columns]
Outliers of Column x:         Unnamed: 0  carat        cut color clarity  average us salary  \
11182     11183.0   1.07      ideal     f     si2              47952
11963     11964.0   1.00  very good     h     vs2              31234
15951     15952.0   1.14       fair     g     vs1              37300
22741     22742.0   0.70       fair     h      i1              44891
22831     22832.0   0.70       good     i      i1              33254
23644     23645.0   0.70       fair     h      i1              39683
24131     24132.0   0.70    premium     h      i1              35790
24297     24298.0   0.70      ideal     i      i1              47761
24328     24329.0   0.70      ideal     h      i1              35509
24520     24521.0   1.56      ideal     g     vs2              48296
24816     24817.0   0.70    premium     g      i1              45506
25850     25851.0   0.70       good     j     si2              38265
25998     25999.0   0.70    premium     i      i1              46779
25999     26000.0   0.70    premium     j      i1              36687
26243     26244.0   1.20    premium     d    vvs1              44681
26431     26432.0   0.70       fair     d      i1              37417
26444     26445.0   0.70  very good     i      i1              41900
26534     26535.0   0.70    premium     i      i1              32695
26932     26933.0   0.70    premium     i     si2              33305
27130     27131.0   0.70       fair     h      i1              40137
27415     27416.0   0.70       fair     j      i1              47053
27429     27430.0   0.70    premium     h     si2              38495
27514     27515.0   0.70    premium     i     si2              37871
27630     27631.0   0.70       fair     j      i1              32920
27638     27639.0   0.70    premium     i     si2              30278
27649     27650.0   0.70       good     h     si2              47536
27679     27680.0   0.70    premium     j     vs2              47919
27685     27686.0   0.70    premium     j     si2              34597
49556     49557.0   0.71       good     f     si2              47708
49557     49558.0   0.71       good     f     si2              40219

       number of diamonds mined (millions)  depth  table    price      x  \
11182                                 2.68   61.6   56.0   4954.0   0.00
11963                                 2.41   63.3   53.0   5139.0   0.00
15951                                 2.60   61.8   57.0   6381.0   0.00
22741                                 1.84   61.8   62.0  10761.0   9.54
22831                                 4.87   61.8   57.0  10863.0   9.38
23644                                 3.62   61.8   53.0  11668.0   9.53
24131                                 4.83   62.1   58.0   2400.0   9.44
24297                                 4.56   62.6   55.0   2400.0   9.49
24328                                 1.76   62.8   57.0   2400.0   9.65
24520                                 1.90   62.2   54.0   2400.0   0.00
24816                                 2.90   59.7   60.0   2400.0   9.42
25850                                 2.77   59.3   57.0   2400.0   9.32
25998                                 2.58   61.0   61.0   2400.0  10.14
25999                                 0.85   62.5   62.0   2400.0  10.02
26243                                 3.24   62.1   59.0   2400.0   0.00
26431                                 3.21   61.8   52.0   2400.0   9.42
26444                                 3.32   63.3   58.0   2400.0  10.01
26534                                 1.19   62.4   56.0   2400.0   9.86
26932                                 4.26   60.7   59.0   2400.0   9.30
27130                                 2.38   61.8   61.0   2400.0  10.00
27415                                 1.99   61.8   59.0   2400.0  10.74
27429                                 1.01   62.8   59.0   2400.0   0.00
27514                                 3.84   60.2   59.0   2400.0   9.36
27630                                 0.95   61.8   58.0   2400.0  10.23
27638                                 1.89   59.3   60.0   2400.0   9.51
27649                                 1.81   61.8   57.0   2400.0   9.44
27679                                 3.88   62.5   59.0   2400.0   9.66
27685                                 1.92   59.7   58.0   2400.0   9.41
49556                                 0.71   64.1   60.0   2130.0   0.00
49557                                 2.07   64.1   60.0   2130.0   0.00

           y     z
11182   6.62  0.00
11963   0.00  0.00
15951   0.00  0.00
22741   9.38  5.31
22831   9.31  5.33
23644   9.48  6.38
24131   9.40  5.85
24297   9.42  5.92
24328   9.59  6.03
24520   0.00  0.00
24816   9.26  5.58
25850   9.19  5.50
25998  10.10  6.17
25999   9.94  6.24
26243   0.00  0.00
26431   9.34  6.27
26444   9.94  6.31
26534   9.81  6.13
26932   9.14  5.60
27130   9.85  6.43
27415  10.54  6.98
27429   0.00  0.00
27514   9.31  5.62
27630  10.16  6.72
27638   9.46  5.62
27649   9.38  5.42
27679   9.63  6.03
27685   9.32  5.59
49556   0.00  0.00
49557   0.00  0.00
Outliers of Column y:         Unnamed: 0  carat        cut color clarity  average us salary  \
11963     11964.0   1.00  very good     h     vs2              31234
15951     15952.0   1.14       fair     g     vs1              37300
22428     22429.0   0.70    premium     e      i1              46589
22741     22742.0   0.70       fair     h      i1              44891
22831     22832.0   0.70       good     i      i1              33254
23644     23645.0   0.70       fair     h      i1              39683
24067     24068.0   2.00    premium     h     si2              37332
24131     24132.0   0.70    premium     h      i1              35790
24297     24298.0   0.70      ideal     i      i1              47761
24328     24329.0   0.70      ideal     h      i1              35509
24520     24521.0   1.56      ideal     g     vs2              48296
24816     24817.0   0.70    premium     g      i1              45506
25998     25999.0   0.70    premium     i      i1              46779
25999     26000.0   0.70    premium     j      i1              36687
26243     26244.0   1.20    premium     d    vvs1              44681
26431     26432.0   0.70       fair     d      i1              37417
26444     26445.0   0.70  very good     i      i1              41900
26534     26535.0   0.70    premium     i      i1              32695
27130     27131.0   0.70       fair     h      i1              40137
27415     27416.0   0.70       fair     j      i1              47053
27429     27430.0   0.70    premium     h     si2              38495
27514     27515.0   0.70    premium     i     si2              37871
27630     27631.0   0.70       fair     j      i1              32920
27638     27639.0   0.70    premium     i     si2              30278
27649     27650.0   0.70       good     h     si2              47536
27679     27680.0   0.70    premium     j     vs2              47919
27685     27686.0   0.70    premium     j     si2              34597
49189     49190.0   0.51      ideal     e     vs1              34817
49556     49557.0   0.71       good     f     si2              47708
49557     49558.0   0.71       good     f     si2              40219

       number of diamonds mined (millions)  depth  table    price     x  \
11963                                 2.41   63.3   53.0   5139.0  5.70
15951                                 2.60   61.8   57.0   6381.0  5.70
22428                                 2.44   60.9   58.0  10453.0  9.26
22741                                 1.84   61.8   62.0  10761.0  5.70
22831                                 4.87   61.8   57.0  10863.0  5.70
23644                                 3.62   61.8   53.0  11668.0  5.70
24067                                 0.76   58.9   57.0   2400.0  8.09
24131                                 4.83   62.1   58.0   2400.0  5.70
24297                                 4.56   62.6   55.0   2400.0  5.70
24328                                 1.76   62.8   57.0   2400.0  5.70
24520                                 1.90   62.2   54.0   2400.0  5.70
24816                                 2.90   59.7   60.0   2400.0  5.70
25998                                 2.58   61.0   61.0   2400.0  5.70
25999                                 0.85   62.5   62.0   2400.0  5.70
26243                                 3.24   62.1   59.0   2400.0  5.70
26431                                 3.21   61.8   52.0   2400.0  5.70
26444                                 3.32   63.3   58.0   2400.0  5.70
26534                                 1.19   62.4   56.0   2400.0  5.70
27130                                 2.38   61.8   61.0   2400.0  5.70
27415                                 1.99   61.8   59.0   2400.0  5.70
27429                                 1.01   62.8   59.0   2400.0  5.70
27514                                 3.84   60.2   59.0   2400.0  5.70
27630                                 0.95   61.8   58.0   2400.0  5.70
27638                                 1.89   59.3   60.0   2400.0  5.70
27649                                 1.81   61.8   57.0   2400.0  5.70
27679                                 3.88   62.5   59.0   2400.0  5.70
27685                                 1.92   59.7   58.0   2400.0  5.70
49189                                 2.30   61.8   55.0   2075.0  5.15
49556                                 0.71   64.1   60.0   2130.0  5.70
49557                                 2.07   64.1   60.0   2130.0  5.70

           y     z
11963   0.00  0.00
15951   0.00  0.00
22428   9.25  5.66
22741   9.38  5.31
22831   9.31  5.33
23644   9.48  6.38
24067  58.90  8.06
24131   9.40  5.85
24297   9.42  5.92
24328   9.59  6.03
24520   0.00  0.00
24816   9.26  5.58
25998  10.10  6.17
25999   9.94  6.24
26243   0.00  0.00
26431   9.34  6.27
26444   9.94  6.31
26534   9.81  6.13
27130   9.85  6.43
27415  10.54  6.98
27429   0.00  0.00
27514   9.31  5.62
27630  10.16  6.72
27638   9.46  5.62
27649   9.38  5.42
27679   9.63  6.03
27685   9.32  5.59
49189  31.80  5.12
49556   0.00  0.00
49557   0.00  0.00
Outliers of Column z:         Unnamed: 0  carat        cut color clarity  average us salary  \
2207       2208.0   1.00    premium     g     si2              41620
2314       2315.0   1.01    premium     h      i1              42225
4791       4792.0   1.10    premium     g     si2              41918
5471       5472.0   1.01    premium     f     si2              45800
11182     11183.0   1.07      ideal     f     si2              47952
11963     11964.0   1.00  very good     h     vs2              31234
13601     13602.0   1.15      ideal     g     vs2              38734
15951     15952.0   1.14       fair     g     vs1              37300
17196     17197.0   0.70       fair     j      i1              38560
19346     19347.0   0.70       fair     h      i1              45818
21758     21759.0   0.70       fair     j      i1              30792
21862     21863.0   0.70    premium     f      i1              38907
22540     22541.0   0.70       fair     i      i1              31522
23644     23645.0   0.70       fair     h      i1              39683
24067     24068.0   2.00    premium     h     si2              37332
24131     24132.0   0.70    premium     h      i1              35790
24297     24298.0   0.70      ideal     i      i1              47761
24328     24329.0   0.70      ideal     h      i1              35509
24394     24395.0   0.70    premium     h     si2              35957
24520     24521.0   1.56      ideal     g     vs2              48296
25998     25999.0   0.70    premium     i      i1              46779
25999     26000.0   0.70    premium     j      i1              36687
26100     26101.0   0.70  very good     i     si2              39346